@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

.container {
  padding: 1rem;
}

mat-radio-button:last-child {
  margin-left: .5rem;
}

textarea {
  overflow: hidden;
}

.mat-tab-body-content {
  padding-top: 1rem;
}
